html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2100px;
    background-image: url('../newfolder/wallpaper plane buildings flight bottom view.jpg');
    background-color: deepskyblue
}

.navbar {
    background-color: deepskyblue;
    font-weight: bold;
    font-size: 15px;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

tr {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    background-color:transparent;
}

.btn-link {
    font-weight: bold;
    font-size: 15px;
}
.border-top {
    background-color: deepskyblue;
}

